* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    font-family: system-ui;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

#grid-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(200, 200, 33);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.square {
    background-color: rgb(229, 245, 240);
    border: .5px solid salmon;
}



button {
    padding: 4px 6px;
    font-family: system-ui;
}

h1 {
    margin-top: -8px 0;
    text-shadow: 2px 0 gold, 0 2px gold, -2px 0 gold, 0 -2px gold;
}