* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

#grid-container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(255, 235, 124);
}

.square {
    background-color: rgb(219, 255, 243);
   
}

.square.hovered {
    background-color: black;
}

button {
    padding: 4px 6px;
}